.TextPlayer {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.TextPlayer__TextContainer {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  display: table;
}

.TextPlayer__Text {
  display: table-cell;
  text-align: center;
  font-size: 8vmin;
  vertical-align: middle;
  width: 100%;

  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  color: white;
  -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;
}