/* pure changes */

.ScriptEditor .pure-form-stacked input:not([type]) {
  padding: 0.25em 0.3em;
}

.ScriptEditor .pure-form select {
  height: 1.6em;
}

.ScriptEditor a {
  cursor: pointer;
}

/* outer */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#textmaker-root {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

.TextMaker, .ScriptEditor {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* tabs */

.TabControl__Tabs {
  text-align: center;
  border-bottom: 1px solid black;
}

.TabControl__Tab {
  display: inline-block;
}

/* editor */

.ScriptEditor {
  overflow: auto;
}

.ScriptEditor__Form {
  padding: 2px;
}

.ButtonContainer {
  text-align: center;
  padding: 4px;
}

.ButtonContainer button {
  font-size: 18px;
  border-bottom: 1px solid #666;
}

.TextMaker__EditorContainer {
  position: absolute;
  top: 0; bottom: 0; left: 0; width: 300px;
}

.StylesEditor, .PartsEditor {
  padding: 2px;
}

.StyleEditor, .PartEditor {
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.StyleEditor textarea {
  width: calc(100% - 6px);
  height: 5rem;
}

.DictEditor__row {
  text-align: right;
}

.DictEditor__row label {
  font-size: 12px;
}

.DictEditor__row input {
  text-align: left;
  width: 50%;
  display: inline-block;
}

.StyleEditor__fullwidthinput {
  width: calc(100% - 6px);
}

.SmallInput {
  width: 2rem;
}

/* player */

.TextMaker__PlayerContainer {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: 300px;
  border-left: 1px solid black;
  background-color: #666;
}
