body {
  color: #f4a7fD;
  background-color: #3F083B;
}

a {
  color: #f4a7fD;
  text-decoration: underline;
}

select {
  color: #f4a7fD;
  border: 1px solid #EFB4EA;
  background-color: #3F083B;
}

input[type="checkbox"]:checked {
  background: #EFB4EA;
}

.fill-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.gn-container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: black;
}

.gn-container table {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  border-spacing: 0;
  border-collapse: collapse;
}

.video-player {
  opacity: 0;
}

.gn-container tr {
  border-spacing: 0;
}

.gn-container td {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar-1, .sidebar-2, .sidebar-3, .gn-ui-container {
  background-color: #3F083B;
  overflow-y: auto;
}

.gn-container td.sidebar-1 {
  width: 200px;
  border-right: 1px solid #A85BA1;
  overflow-y: auto;
  z-index: 1;
}

.gn-container td.sidebar-2 {
  width: 250px;
  background-color: #3F083B;
  overflow-y: auto;
}

.gn-container td.sidebar-3 {
  width: 200px;
  border-right: 1px solid #A85BA1;
  overflow-y: auto;
}

/* form */

.gn-form {
}

.gn-source {
  word-wrap: break-word;
}

.gn-source-remove-button, .gn-source-add-button {
  display: block;
  width: 22px;
  height: 22px;
  line-height: 20px;
  margin-top: 4px;
  text-align: center;
  float: right;
  cursor: pointer;
  border: 1px solid gray;
}

.gn-source-text-input input {
  width: 70%;
}

.gn-form-image-width input {
  width: 50px;
}

.gn-form select {
  width: 96%;
  margin: 4px 2%;
}

.gn-form label {
  cursor: pointer;
}

.gn-form-entry {
  width: 100%;
  line-height: 30px;
  padding: 0 4px;
  clear: both;
}

.gn-directory-toggle {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.gn-playpause {
  height: 44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
}

.gn-playpause.disabled {
  opacity: 0.5;
  cursor: auto;
}

/* directory */

.gn-directory {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid black;
}

.gn-subdirectory {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.gn-directory-entry {
  cursor: pointer;
  clear: both;
}

.hoverable:hover, .gn-directory-entry:hover, .gn-category-selected, .gn-directory-toggle:hover {
  background-color: #A85BA1;
}
.gn-directory-entry:hover:after, .gn-category-selected:after, .gn-directory-toggle:after {
  content: "→";
  float: right;
}

/* display */

.text-display {
  z-index: 1;
}

.gn-display {
}

.sidebar-toggle-open {
  color: black;
  background-color: #f4a7fD;
  border-radius: 10px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
}

.sidebar-toggle-close {
  font-size: 12px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.gn-display-loading {
  position: absolute;
  top: 45%;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  left: 30%;
  right: 30%;
}

.gn-display-loading-inner {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  background-color: white;
}

.timing-cockzoom .gn-display img {
    -webkit-animation: keyframes-zoom 5s;
    animation: keyframes-zoom 5s;
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.timing-cockzoom .gn-display img {
    -webkit-animation: keyframes-zoom 5s;
    animation: keyframes-zoom 5s;
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.cockzoom-1 .gn-display img {
    -webkit-animation: keyframes-zoom 1s;
    animation: keyframes-zoom 1s;
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes keyframes-zoom {
    100% {
        -webkit-transform: scale(2,2); 
    }
}

.cockzoom-5 .gn-display img {
    -webkit-animation: keyframes-zoom 5s;
    animation: keyframes-zoom 5s;
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes keyframes-zoom {
    100% {
        -webkit-transform: scale(2,2); 
    }
}

/* history */

.gn-history-entry {
  padding: 10px;
}

/* help */

.gn-help {
  background-color: black;
  text-align: center;
  overflow-y: auto;
}

.logo {
  max-width: 100%;
}

li {
  margin-bottom: 1em;
}

p {
  max-width: 600px;
  margin: auto;
  text-align: left;
  margin-bottom: 1em;
}

/* text */

.text-blink {
  text-align: center; color: white; font-size: 20vmin;
  vertical-align: middle; transition: opacity 0.1s ease-out;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

.text-caption {
  text-align: center; color: white; font-size: 8vmin;
  vertical-align: bottom; padding-bottom: 20vmin;
  transition: opacity 0.5s ease-in-out;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

.text-caption-big {
  text-align: center; color: white; font-size: 12vmin;
  vertical-align: middle; transition: opacity 0.1s ease-out;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}
